@charset "utf-8";
/* CSS Document */
.contenter{ width:972px; margin:0 auto; padding-top:10px;}
.right{ width:730px; float:right; overflow:hidden}
.left{ width:230px; float:left;overflow:hidden}

.left_1,.left_2{ background:url(../images/left_last.gif) no-repeat left bottom; padding-bottom:15px;}
.left_1 h2,.left_2 h2{ background:url(../images/sub_tt.jpg) no-repeat; height:41px; line-height:41px; font-size:12px; text-indent:15px; color:#8D2F3D;}
.left_1_con,.left_2_con{ border-left:1px solid #DFC8D0;border-right:1px solid #DFC8D0;}
.left_nav li{ height:25px; line-height:25px;}
.left_nav li a{ display:block; height:25px; display:block; line-height:25px; text-indent:15px;}
.left_nav li a:hover{ background:#C85467; color:#FFF}
#sel{  background:#C85467; }
#sel a{ color:#fff;}
.left_2_con{ padding:0 10px;}
.sub_list{}
.sub_list li{ height:25px; line-height:25px; background:url(../images/icon3.png) no-repeat left center; text-indent:15px;}
.pbanner{ height:1000px; margin-bottom:10px; border:1px solid #DFC8D0; width:100%;}
.curry{ height:31px; line-height:31px; text-indent:45px;}
.right_content{ padding:15px;height:100%;width:100%;}
.right_content p{ line-height:25px;}
.right_content p span{ font-weight:bold;}

.right_4{background:url(../images/last.gif) no-repeat left bottom; padding-bottom:3px; }
.right_4 h2{ background:url(../images/title01.jpg) no-repeat; height:34px; line-height:34px;font-size:12px; text-indent:10px; color:#fff;}
.right_4 h2 span{ float:right; font-weight:normal; padding-right:10px;}
.inner022{ border-left:1px solid #ccc;border-right:1px solid #ccc; padding:2px 2px 0 0; }
.inner022 a{ line-height:30px; text-decoration:none; font-size:12px; font-weight:bold;}
.inner022 p{ line-height:30px;}

.taber{ clear:both; overflow:hidden; padding-top:10px; _padding-top:6px;}
.selected{
	background:#943241;
	color:#fff
}
#nav ul{
	height:28px;
	line-height:28px;
	list-style:none;
}
#nav ul li{
	float:left;
	width:79px;
	height:28px;
	text-align:center;
	cursor:pointer;
}
#nav_content{
	margin:0px;
	padding:10px;
	width:650px;
	border:1px solid #CCCCCC;
}
#nav_content div{ line-height:28px;}
.dgbg02{ width:100px; height:26px; border:none; background:url(../images/dgbg.jpg) no-repeat center center; color:#fff; font-size:14px; cursor:pointer;}
.dgbg012{ width:100px; height:26px; float:right; border:none; background:url(../images/dgbg.jpg) no-repeat center center; color:#fff; font-size:14px; cursor:pointer;}
.dgbg022{ width:100px; height:26px; border:none; background:url(../images/dgbg.jpg) no-repeat center center; color:#fff; font-size:14px; cursor:pointer; margin-top:6px; _margin-top:12px; _margin-left:12px;}

.content_nr{ line-height:25px;}
.content_nr1{ line-height:25px;}

.list_box{}
.list_box_list ul li{border-bottom:1px solid #ccc; line-height:35px; padding:0 15px; background:url(../images/arrow01.gif) no-repeat 5px center; }
.list_box_img{margin-top:10px;}
.list_box_img dl{border:1px solid #ccc; float:left; width:165px; height:190px; text-align:center; margin:10px 3px 0 3px; display:inline;}
.list_box_img dl dt{width:150px; height:150px; overflow:hidden; margin:10px auto 0 auto; text-align:center;}
.list_box_img dl dd{line-height:30px; text-align:center;}

.list_page{ margin-top:10px; text-align:right;}
a.list_page_num{padding:2px 6px 2px; border-bottom:1px solid  #333; color:#333; font-size:14px;}
a.list_page_num:hover{text-decoration:none; border-bottom:1px solid #333; color:#333; font-weight:bold;}
a.list_page_hover{padding:2px 6px 2px; border-bottom:1px solid #333; color:#333; font-weight:bold; font-size:14px;}
a.list_page_hover:hover{padding:2px 6px 2px; border-bottom:1px solid #333; color:#333; font-weight:bold; text-decoration:none;}
a.page_a{color:#333;}
a.page_a:hover{color:#333;}

.list_info_box{padding:10px; margin-top:10px; }
.list_info_box_title{line-height:40px; text-align:center; font-size:14px;}
.list_info_box_link{ border-top:1px solid #ccc; border-bottom:1px solid #ccc; line-height:30px; text-align:center;}
.list_info_box_ds{border:1px dashed #ccc; padding:10px; margin-top:10px; line-height:22px; color:#999;}
.list_info_box_body{ margin-top:10px; line-height:25px;}
.list_info_box_p{border-top:1px solid #ccc; padding-top:10px; line-height:22px; margin-top:10px;}

.product_list{margin-top:10px;}
.p_icon1{background:url(../images/p_icon1.gif); width:18px; height:15px; display:inline-block;}
.p_icon1_1{background:url(../images/p_icon1_1.gif); width:18px; height:15px; display:inline-block;}
.p_icon2{background:url(../images/p_icon2.gif); width:18px; height:15px; display:inline-block;}
.p_icon2_1{background:url(../images/p_icon2_1.gif); width:18px; height:15px; display:inline-block;}
.anli_list{ float:left; width:157px; margin:5px 5px 10px 10px;_margin:0px 7px; overflow:hidden;}
.anli_list dt{ background:url(../images/probg.gif) no-repeat; height:100px; overflow:hidden; width:150px; padding:2px 5px 14px 2px; _padding:2px 4px 14px 2px; }
.anli_list dd { line-height:30px; text-align:center; overflow:hidden;}
.anli_list dd a{ line-height:30px; text-align:center; font-weight:bold;}
.anli_list dd p{ line-height:24px; text-align:left; padding-left:3px;}

.product_cc{margin-top:10px;}
.product_cc dl{border:1px solid #ccc; float:left; width:170px; height:190px; margin:10px 5px 0 5px; _margin:10px 1px 0 4px;}
.product_cc dl dt{width:150px; height:150px; overflow:hidden; margin:10px auto 0 auto; text-align:center;}
.product_cc dl dd{line-height:30px; text-align:center;}
.product_lb{margin-top:10px;}
.product_lb_list{padding:10px; margin-top:10px;}
.m_t_10{margin-top:10px;}
.pro_tab{ width:95%; margin:0 auto;}
.product_info{padding:10px; margin-top:10px;}
.product_info_img{border:1px solid #ccc; width:220px; height:280px; padding:10px; text-align:center; overflow:hidden; float:left;}
.icon_fd{background:url(../images/icon_fd.gif) no-repeat left top; height:20px; padding-left:25px; line-height:20px; display:inline-block;}
.p_button1{background:url(../images/p_button1.jpg); width:90px; height:25px; line-height:25px; text-align:center; color:#333; font-weight:bold; display:inline-block;}
.p_button2{background:url(../images/p_button2.jpg); width:100px; height:25px; line-height:25px; text-align:center; color:#333; font-weight:bold; display:inline-block;}
.product_info_p{padding:0 160px; clear:both; line-height:30px; border-top:1px solid #333; border-bottom:1px solid #333; margin-top:10px;}
.p_info_left{background:url(../images/p_info_l.gif) no-repeat left center; padding-left:30px;}
.p_info_right{background:url(../images/p_info_r.gif) no-repeat right center; padding-right:30px;}
.product_info_body{padding:10px; line-height:25px;}

.job_box{ margin-top:10px;}
.job_box_list ul{padding-top:10px;}
.job_box_list ul li{border-bottom:1px solid #c1dbea; line-height:30px; padding:0 10px;}
.job_box_title{ background:#edf7f9;padding-left:10px; padding-right:20px; line-height:25px; height:25px; color:#333;}
.job_box_all{ border:1px solid #DFCFD2; margin-top:10px;  line-height:25px;}
.job_box_all_title{background:#F9F7F8; line-height:25px; height:25px; padding:0 10px;color:#333;}

.contact_body1{ line-height:25px; padding:10px 0;}
.contact_body2{line-height:25px; border-top:1px dashed #333; padding:10px 0;}

.contact_box{padding:0px;}
.contact_box_xx{}
.contact_box_xx_title{background:#edf7f9; height:25px; line-height:25px; padding:0 10px; color:#333; font-weight:bold;}
.contact_box_xx_body{padding:15px; line-height:22px;}
.contact_box_xx_back{ height:22px; line-height:22px; padding:0 10px; margin-top:10px;}

.contact_box_message{ margin-top:10px;}
.contact_box_message_title{background:edf7f9; height:25px; line-height:25px; padding:0 10px; color:#333;}

.tg_list{ background:url(../images/tg_c.jpg) repeat-y; width:271px; height:350px; overflow:hidden; margin:10px 35px 20px; _margin:10px 28px 20px; float:left;}
.tg_list h2{ font-size:12px; background:url(../images/tg_b.gif) no-repeat left top; height:36px; line-height:36px; text-indent:30px; }
.tg_list h2 a{color:#0f4e9d;}
.tg_list_con{ padding:10px 10px 10px 15px; height:249px; overflow:hidden;}
.tg_list_con p{ line-height:1.8em;}
.tg_list_last{ background:url(../images/tg_t.gif) no-repeat; height:45px; text-align:right; padding-right:30px; line-height:40px; color:#cc0000; }

.web_list{ clear:both; height:135px; padding:10px; border-bottom:1px dotted #ccc;}
.web_list dt{ width:135px; height:130px; float:left; margin-right:20px; overflow:hidden;}
.web_list dd{}
.web_list dd h2{ font-size:14px;height:30px; line-height:30px; }
.web_list dd h2 span{font-size:12px; font-weight:normal; color:#cc0000; float:right; padding-right:10px;}
.web_list dd {line-height:1.8em;}
.contact_list{ }
.contact_list dt{ width:201px; float:left; margin-right:20px; height:400px; padding-top:100px;}
.contact_list dd p{ line-height:33px; font-size:13px; text-indent:13px; color:#BF4B56; }
.contact_list dd p span{ font-weight:bold; color:#333; }
.xz{ _margin-top:8px; margin-right:15px;}

