@charset "utf-8";
/* CSS Document */
/*                    通用样式                    */
body 
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font:12px Arial,"宋体";
	color:#333;
background:#fff url(../images/bg2.gif) repeat-x left 20px;}
html, body, div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, object, iframe, form, blockquote, fieldset, input, textarea, code, address, caption, cite, code, em, i, ins ,border,table, td,th,strong{
	margin:0;
	padding:0;
	font-style:normal;
	list-style:none;
}
p{margin:0px; padding:0px;}
ul
{
	margin: 0;
	padding: 0;
	list-style:none;
}
a
{
color:#333;
	text-decoration:none;
}
a:hover
{
color: #ff6600;
text-decoration:none;
}
img
{
	border: none;
}

div.clear
{
	clear: both;
	margin: 0;
	padding: 0;
	border: none; font-size:1px; height:1px; line-height:1px; overflow:hidden;
}
hr {
       clear:both;
       border-width:0;
       border-top:1px solid #d5cba7;
       border-bottom:1px solid #FFF;
       height:2px;
       overflow:hidden;
}

.f_l{float:left;}
.f_r{float:right;}

.t_tongyong{color:#005F92;}
.top10px{ margin-top:10px;}
.top20px{ margin-top:20px;}
.lineh_25{ line-height:25px;}
.lineh_255{ float:left; width:420px; overflow:hidden;}
.txt14px{ font-size:14px;}
.t_14{ color:#942F3F; font-size:14px;  font-weight:bold; text-align:center;} 
/*全局样式*/
.header{ width:972px; margin:0 auto;}
.top_img{ height:100px;  margin-bottom:3px;} 
.top_nav{ width:120px; float:right; padding-top:20px;}
.top_nav p{ background: url(../images/left_huodong_j.gif) no-repeat left center; padding-left:15px; height:25px; line-height:25px;}
.logo{ width:300px; height:80px;float:left; padding-top:15px; padding-bottom:5px; padding-left:10px; padding-right:5px;}
.rx{ height:100px; width:500px; float:left;}
.menu{ background:url(../images/menu.jpg) no-repeat; height:35px;}
.menu ul li{ float:left; height:35px; line-height:35px; font-size:14px;}
.menu ul li a{ color:#fff;}
.menu ul li#a1{ width:96px; text-align:center;}
.menu ul li#a2{ width:106px; text-align:center;}
.menu ul li#a3{ width:108px; text-align:center;}
.menu ul li#a4{ width:108px; text-align:center;}
.menu ul li#a5{ width:108px; text-align:center;}
.menu ul li#a6{ width:108px; text-align:center;}
.menu ul li#a7{ width:108px; text-align:center;}
.menu ul li#a8{ width:109px; text-align:center;}
.menu ul li#a9{ width:121px; text-align:center;}
.menu ul li#a1 a:hover{  width:96px; text-align:center; display:block;color:#fff;}
.menu ul li#a2 a:hover{ width:106px; text-align:center; display:block; background:url(../images/menuhover.jpg) no-repeat -96px center;color:#fff; }
.menu ul li#a3 a:hover{ width:108px; text-align:center;display:block; background:url(../images/menuhover.jpg) no-repeat -202px center;color:#fff; }
.menu ul li#a4 a:hover{ width:108px; text-align:center;display:block; background:url(../images/menuhover.jpg) no-repeat -310px center; color:#fff;}
.menu ul li#a5 a:hover{ width:108px; text-align:center;display:block; background:url(../images/menuhover.jpg) no-repeat -418px center; color:#fff;}
.menu ul li#a6 a:hover{ width:108px; text-align:center;display:block; background:url(../images/menuhover.jpg) no-repeat -526px center; color:#fff;}
.menu ul li#a7 a:hover{ width:108px; text-align:center;display:block; background:url(../images/menuhover.jpg) no-repeat -634px center; color:#fff;}
.menu ul li#a8 a:hover{ width:109px; text-align:center;display:block; background:url(../images/menuhover.jpg) no-repeat -743px center; color:#fff;}
.menu ul li#a9 a:hover{ width:121px; text-align:center;display:block; background:url(../images/menuhover.jpg) no-repeat -851px center;color:#fff; }
.banner{ height:300px; width:972px; margin:0 auto; padding:10px 0;overflow:hidden;}

#YFocus{position:relative;z-index:4;width:970px;height:300px;overflow:hidden;}
#YImage,#YPhotos{margin:0 auto;overflow:hidden;}
#YImage{position:relative;z-index:5;}
#YImage,#YPhotos img{width:970px;height:300px;}
#YPhotos{position:absolute;top:0;left:0;z-index:6;overflow:hidden;}
#YPhotos img{float:left;clear:both;}
#YSamples{position:absolute;z-index:7;width:400px;height:63px;overflow:hidden;bottom:4px;left:4px;}
#YSamples a:link,#YSamples a:visited,#YSamples a:hover{position:relative;z-index:8;float:left;margin:10px 5px 8px 10px;display:inline;width:64px;height:43px;text-decoration:none;overflow:hidden;}
#YSamples a img{border:2px solid #FFF;width:60px;height:39px;opacity:.4;-moz-opacity:.4;filter:alpha(opacity=40);}
#YSamples a:hover img,#YSamples img.current{opacity:1;-moz-opacity:1;filter:alpha(opacity=100);}

.even{background-color:#F8F8F8;}
.odd{background-color:#EAEFF5;}
.hover{background-color:#B0BEC7;color:#FFF;cursor:pointer;}
.hidden{display:none;clear:both;}

.footer{ border-top:1px solid #E9E8CA; width:970px; margin:10px auto 0px; text-align:center;}
.footer_nav{ height:40px; line-height:40px; text-align:center;}
.footer_nav a{ padding:0px 3px;}
.footer p{ line-height:25px;}